/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */

main {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  font-family: "Whisper", sans-serif;
  font-size: 24px;
}

.blockWho {
  padding: 25px;
}

.spanWho {
  color: royalblue;
}

.blockArea {
  display: flex;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  border-radius: 24px;
  box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.3),
    0px 0px 10px rgba(203, 203, 203, 0.2);
}

.blockItem {
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 8px;
  background-color: rgb(90, 188, 230);
  width: 140px;
  height: 140px;
  border-radius: 12px;
  margin: 5px;
  justify-content: center;
}

.blockItem:hover {
  opacity: 0.8;
}

.cross {
  background-color: rgb(106, 243, 85);
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.null {
  background-color: rgb(115, 115, 228);
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winColor {
  color: rgb(217, 225, 230);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blockWin {
  margin-top: 24px;
  display: none;
  flex-direction: column;
}

.textWin {
  margin-bottom: 12px;
}

.spanWin {
  color: rgb(74, 181, 248);
}

.btnNewGame {
  all: unset;
  padding: 12px;
  background-color: rgb(34, 97, 180);
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.btnNewGame:hover {
  opacity: 0.8;
}
